USE [master]
GO
/****** Object:  Database [gestion_maquinaria]    Script Date: 25/10/2024 20:59:29 ******/
CREATE DATABASE [gestion_maquinaria]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'gestion_maquinaria', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\gestion_maquinaria.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'gestion_maquinaria_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\gestion_maquinaria_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [gestion_maquinaria].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [gestion_maquinaria]
GO
/****** Object:  Table [dbo].[cliente]    Script Date: 25/10/2024 20:59:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cliente](
	[id_cliente] [int] IDENTITY(1,1) NOT NULL,
	[razon_social] [nvarchar](100) NULL,
	[telefono] [nvarchar](15) NULL,
	[correo] [nvarchar](100) NULL,
	[dni_ruc] [nvarchar](20) NULL,
	[direccion] [nvarchar](255) NULL,
	[estado] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[detalle_parte_diario]    Script Date: 25/10/2024 20:59:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detalle_parte_diario](
	[id_detalle_parte_diario] [int] IDENTITY(1,1) NOT NULL,
	[parte_diario_id] [int] NULL,
	[horas] [int] NULL,
	[trabajo_efectuado] [nvarchar](max) NULL,
	[descripcion] [nvarchar](max) NULL,
	[cantidad] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_detalle_parte_diario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[maquinaria]    Script Date: 25/10/2024 20:59:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[maquinaria](
	[id_maquinaria] [int] IDENTITY(1,1) NOT NULL,
	[placa] [nvarchar](20) NULL,
	[horometro] [int] NULL,
	[hora_inicio] [time](7) NULL,
	[hora_fin] [time](7) NULL,
	[modelo] [nvarchar](50) NULL,
	[marca] [nvarchar](50) NULL,
	[ano_compra] [smallint] NULL,
	[estado] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_maquinaria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[parte_diario]    Script Date: 25/10/2024 20:59:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[parte_diario](
	[id_parte_diario] [int] IDENTITY(1,1) NOT NULL,
	[serie] [nvarchar](50) NULL,
	[fecha] [date] NULL,
	[firmas] [nvarchar](255) NULL,
	[hora_inicio] [time](7) NULL,
	[hora_fin] [time](7) NULL,
	[cliente_id] [int] NULL,
	[personal_id] [int] NULL,
	[maquinaria_id] [int] NULL,
	[lugar_trabajo] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_parte_diario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[personal]    Script Date: 25/10/2024 20:59:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[personal](
	[id_personal] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NULL,
	[apellido] [nvarchar](50) NULL,
	[rol_id] [int] NULL,
	[telefono] [nvarchar](15) NULL,
	[correo] [nvarchar](100) NULL,
	[dni] [nvarchar](15) NULL,
	[estado] [nvarchar](10) NULL,
	[fechNacimiento] [date] NULL,
	[ubigeo_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_personal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rol]    Script Date: 25/10/2024 20:59:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rol](
	[id_rol] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ubigeo]    Script Date: 25/10/2024 20:59:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ubigeo](
	[id_ubigeo] [int] IDENTITY(1,1) NOT NULL,
	[departamento] [nvarchar](100) NOT NULL,
	[provincia] [nvarchar](100) NOT NULL,
	[distrito] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_ubigeo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuarios]    Script Date: 25/10/2024 20:59:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[personal_id] [int] NOT NULL,
	[username] [nvarchar](50) NULL,
	[password] [nvarchar](100) NULL,
	[estado] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[personal_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[detalle_parte_diario]  WITH CHECK ADD FOREIGN KEY([parte_diario_id])
REFERENCES [dbo].[parte_diario] ([id_parte_diario])
GO
ALTER TABLE [dbo].[parte_diario]  WITH CHECK ADD FOREIGN KEY([cliente_id])
REFERENCES [dbo].[cliente] ([id_cliente])
GO
ALTER TABLE [dbo].[parte_diario]  WITH CHECK ADD FOREIGN KEY([maquinaria_id])
REFERENCES [dbo].[maquinaria] ([id_maquinaria])
GO
ALTER TABLE [dbo].[parte_diario]  WITH CHECK ADD FOREIGN KEY([personal_id])
REFERENCES [dbo].[personal] ([id_personal])
GO
ALTER TABLE [dbo].[personal]  WITH CHECK ADD FOREIGN KEY([rol_id])
REFERENCES [dbo].[rol] ([id_rol])
GO
ALTER TABLE [dbo].[personal]  WITH CHECK ADD FOREIGN KEY([ubigeo_id])
REFERENCES [dbo].[ubigeo] ([id_ubigeo])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[usuarios]  WITH CHECK ADD FOREIGN KEY([personal_id])
REFERENCES [dbo].[personal] ([id_personal])
ON DELETE CASCADE
GO
USE [master]
GO
