-- Crear la base de datos sin especificar rutas
CREATE DATABASE [PROMCOSER]
GO

-- Establecer el nivel de compatibilidad
ALTER DATABASE [PROMCOSER] SET COMPATIBILITY_LEVEL = 160;
GO

-- Habilitar el servicio Full-Text si está instalado
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
BEGIN
    EXEC [PROMCOSER].[dbo].[sp_fulltext_database] @action = 'enable';
END
GO

-- Configuraciones generales de la base de datos
ALTER DATABASE [PROMCOSER] SET AUTO_CLOSE OFF;
ALTER DATABASE [PROMCOSER] SET AUTO_SHRINK OFF;
ALTER DATABASE [PROMCOSER] SET RECOVERY SIMPLE;
ALTER DATABASE [PROMCOSER] SET QUERY_STORE = ON;
GO

-- Configuraciones adicionales
ALTER DATABASE [PROMCOSER] SET ANSI_NULL_DEFAULT OFF;
ALTER DATABASE [PROMCOSER] SET CONCAT_NULL_YIELDS_NULL OFF;
ALTER DATABASE [PROMCOSER] SET NUMERIC_ROUNDABORT OFF;
ALTER DATABASE [PROMCOSER] SET AUTO_UPDATE_STATISTICS ON;
GO

USE [PROMCOSER];
GO

-- Crear la tabla cliente
CREATE TABLE [dbo].[cliente](
    [id_cliente] [bigint] IDENTITY(1,1) NOT NULL,
    [tipo_cliente] [nvarchar](50) NULL,
    [telefono] [nvarchar](50) NULL,
    [correo] [nvarchar](100) NULL,
    [direccion] [nvarchar](255) NULL,
    [estado] [nvarchar](50) NULL,
    [nombre] [nvarchar](100) NULL,
    [apellido] [nvarchar](100) NULL,
    [dni] [nvarchar](20) NULL,
    [razon_social] [nvarchar](255) NULL,
    [ruc] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
    [id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

-- Crear la tabla detalle_parte_diario
CREATE TABLE [dbo].[detalle_parte_diario](
    [id_detalle_parte_diario] [bigint] IDENTITY(1,1) NOT NULL,
    [parte_diario_id] [bigint] NULL,
    [horas] [int] NULL,
    [trabajo_efectuado] [nvarchar](255) NULL,
    [descripcion] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
    [id_detalle_parte_diario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

-- Crear la tabla maquinaria
CREATE TABLE [dbo].[maquinaria](
    [id_maquinaria] [bigint] IDENTITY(1,1) NOT NULL,
    [placa] [nvarchar](50) NULL,
    [modelo] [nvarchar](100) NULL,
    [marca] [nvarchar](100) NULL,
    [anio_compra] [smallint] NULL,
    [horometro_compra] [time](7) NULL,
    [horometro_actual] [time](7) NULL,
    [estado] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
    [id_maquinaria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

-- Crear la tabla parte_diario
CREATE TABLE [dbo].[parte_diario](
    [id_parte_diario] [bigint] IDENTITY(1,1) NOT NULL,
    [serie] [nvarchar](50) NULL,
    [fecha] [date] NULL,
    [firmas] [nvarchar](255) NULL,
    [horometro_inicio] [time](7) NULL,
    [horometro_final] [time](7) NULL,
    [cliente_id] [bigint] NULL,
    [personal_id] [bigint] NULL,
    [maquinaria_id] [bigint] NULL,
    [lugar_trabajo] [nvarchar](255) NULL,
    [petroleo] [decimal](10, 2) NULL,
    [aceite] [decimal](10, 2) NULL,
    [proximo_mantenimiento] [date] NULL,
PRIMARY KEY CLUSTERED 
(
    [id_parte_diario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

-- Crear la tabla personal
CREATE TABLE [dbo].[personal](
    [id_personal] [bigint] IDENTITY(1,1) NOT NULL,
    [nombre] [nvarchar](100) NULL,
    [apellido] [nvarchar](100) NULL,
    [rol_id] [bigint] NULL,
    [telefono] [nvarchar](50) NULL,
    [correo] [nvarchar](100) NULL,
    [dni] [nvarchar](20) NULL,
    [estado] [nvarchar](50) NULL,
    [fechnacimiento] [date] NULL,
    [ubigeo_id] [bigint] NULL,
    [username] [nvarchar](100) NULL,
    [password] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
    [id_personal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

-- Crear la tabla rol
CREATE TABLE [dbo].[rol](
    [id_rol] [bigint] IDENTITY(1,1) NOT NULL,
    [descripcion] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
    [id_rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

-- Crear la tabla ubigeo
CREATE TABLE [dbo].[ubigeo](
    [id_ubigeo] [bigint] IDENTITY(1,1) NOT NULL,
    [departamento] [nvarchar](100) NOT NULL,
    [provincia] [nvarchar](100) NOT NULL,
    [distrito] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
    [id_ubigeo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

-- Añadir claves foráneas y restricciones
ALTER TABLE [dbo].[detalle_parte_diario] WITH CHECK ADD CONSTRAINT [FK_detalle_parte_diario_parte_diario] FOREIGN KEY([parte_diario_id])
REFERENCES [dbo].[parte_diario] ([id_parte_diario])
GO

ALTER TABLE [dbo].[parte_diario] WITH CHECK ADD CONSTRAINT [FK_parte_diario_cliente] FOREIGN KEY([cliente_id])
REFERENCES [dbo].[cliente] ([id_cliente])
GO

ALTER TABLE [dbo].[parte_diario] WITH CHECK ADD CONSTRAINT [FK_parte_diario_maquinaria] FOREIGN KEY([maquinaria_id])
REFERENCES [dbo].[maquinaria] ([id_maquinaria])
GO

ALTER TABLE [dbo].[parte_diario] WITH CHECK ADD CONSTRAINT [FK_parte_diario_personal] FOREIGN KEY([personal_id])
REFERENCES [dbo].[personal] ([id_personal])
GO

ALTER TABLE [dbo].[personal] WITH CHECK ADD CONSTRAINT [FK_personal_rol] FOREIGN KEY([rol_id])
REFERENCES [dbo].[rol] ([id_rol])
GO

ALTER TABLE [dbo].[personal] WITH CHECK ADD CONSTRAINT [FK_personal_ubigeo] FOREIGN KEY([ubigeo_id])
REFERENCES [dbo].[ubigeo] ([id_ubigeo])
ON DELETE NO ACTION
ON UPDATE NO ACTION;
GO

ALTER TABLE [dbo].[cliente] WITH CHECK ADD CONSTRAINT [CK_cliente_tipo_cliente] CHECK (([tipo_cliente]='empresa' OR [tipo_cliente]='natural'))
GO

USE [master];
GO
